/* Base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

/* Teal green theme for header and footer */
header, footer {
    background-color: #008080;  /* Teal green */
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1, footer p {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

/* Styling for logo */
#logo {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Styling for the menu image */
#menu-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* List styles */
#menu-content ul {
    list-style-type: none;
    padding: 0;
}

#menu-content ul li {
    margin: 10px 0;
}
